<!DOCTYPE html>
<html lang="en">
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toDisplay = document.querySelector('p').textContent
        console.log(toDisplay);
    }, false);
</script>

<head>
</head>

<body class="container">

    <header>
    </header>

    <main>
        <section id="some-section">
            <h2>Variable</h2>
            <p>
                <%= trip.type %>
            </p>
        </section>
    </main>

    <footer>
    </footer>

</body>

</html>